@tailwind base;
@tailwind components;
@tailwind utilities;

/* 5J's Frozen Custom Styles */
/* Helpers for meatshop palette */
.bg-meat-light {
  background-color: #FDFBF7;
  /* cream-50 */
}

.bg-meat-red {
  background-color: #D92323;
}

.text-meat-red {
  color: #E02424;
}

.text-meat-dark {
  color: #0B0A0A;
}

.border-meat-gray {
  border-color: #374151;
}

.ring-meat-gold {
  --tw-ring-color: #F59E0B;
}

/* Hide scrollbar for mobile nav */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Image loading optimization */
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Preload critical images */
.preload-image {
  content: '';
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
}